.footer {
  position: relative;
  padding: 25px 0;
  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__photo {
    width: 115px;
    height: 40px;
    object-fit: cover;
  }

  &__privacy-policy {
    font-size: 1.5rem;
  }
}